<p>
<img class="float-left m-1" loading="lazy" alt="Status" src="{{ .Get "domain" }}/api/badge/{{ .Get "service" }}/status">
<img class="float-left m-1" loading="lazy" alt="Uptime Status" src="{{ .Get "domain" }}/api/badge/{{ .Get "service" }}/uptime">
<img class="float-left m-1" loading="lazy" alt="Ping Status" src="{{ .Get "domain" }}/api/badge/{{ .Get "service" }}/ping">
<img class="float-left m-1" loading="lazy" alt="Average respone time Status" src="{{ .Get "domain" }}/api/badge/{{ .Get "service" }}/avg-response">
<img class="float-left m-1" loading="lazy" alt="Certificate Status" src="{{ .Get "domain" }}/api/badge/{{ .Get "service" }}/cert-exp">
<img class="float-clear m-1" loading="lazy" alt="Response Time Status" src="{{ .Get "domain" }}/api/badge/{{ .Get "service" }}/response">
</p>
