---
- name: Deploy K3s Cluster
  hosts: k3s_cluster
  become: true
  remote_user: root
  roles:
    - role: k3s.orchestration.site

- name: Apply K3s base manifests
  hosts: localhost
  become: true
  remote_user: root
  gather_facts: false
  tasks:
    - name: Apply kustomization for k3s apps
      ansible.builtin.shell:
        cmd: "kubectl kustomize --enable-helm ../{{ playbook_dir }}/apps/k3s | kubectl apply -n kube-system -f -"
      register: apply_result
      changed_when: "'unchanged' not in apply_result.stdout"
